{% extends 'base.html' %}
{% block content %}
  <div class='sub_div'>
    <textarea id="chat-log" cols="73" rows="15"></textarea><br />
    <input id="chat-message-input" type="text" class="form-control" z-index="2">
    <input id="chat-message-submit" type="button" value="Send" z-index="2"><br /><br/>
    <input id="Test" type="button" value="enter" z-index="2"><br /><br/>
  </div>

    <table class="dicetable">
    <tr>
    <td id='d0' onclick='color(0)'>D1
    <td id='d1' onclick='color(1)'>D2
    <td id='d2' onclick='color(2)'>D3
    <td id='d3' onclick='color(3)'>D4
    <td id='d4' onclick='color(4)'>D5
    <td id='test-submit'>START
    </table>
    <br>
    <table class="gametable">
      <tr><td>점수판<td width='140'>Player1<td width='140'>Player2
      <tr><td>1<td id='p10' onclick='number(1)'><td id='p20' onclick='number(1)'>
      <tr><td>2<td id='p11' onclick='number(2)'><td id='p21' onclick='number(2)'>
      <tr><td>3<td id='p12' onclick='number(3)'><td id='p22' onclick='number(3)'>
      <tr><td>4<td id='p13' onclick='number(4)'><td id='p23' onclick='number(4)'>
      <tr><td>5<td id='p14' onclick='number(5)'><td id='p24' onclick='number(5)'>
      <tr><td>6<td id='p15' onclick='number(6)'><td id='p25' onclick='number(6)'>
      <tr><td>>= 63<td id='p16'><td id='p26'>
      <tr><td>three of kind<td id='p17' onclick='triple()'><td id='p27' onclick='triple()'>
      <tr><td>four of kind<td id='p18' onclick='fourcard()'><td id='p28' onclick='fourcard()'>
      <tr><td>fullhouse<td id='p19' onclick='fullhouse()'><td id='p29' onclick='fullhouse()'>
      <tr><td>small straight<td id='p110' onclick='Sstraight()'><td id='p210' onclick='Sstraight()'>
      <tr><td>large straight<td id='p111' onclick='Lstraight()'><td id='p211' onclick='Lstraight()'>
      <tr><td>yacht<td id='p112' onclick='yachu()'><td id='p212' onclick='yachu()'>
      <tr><td>chance<td id='p113' onclick='choice()'><td id='p213' onclick='choice()'>
      <tr><td>total<td id='p114'><td id='p214'>
    </table>
    <script>
        
        let lock = [false, false, false, false, false];
        let roomName = "{{ room_name | escapejs }}"; //room_name으로 전달 받은 방번호를 roomName에 저장
        let userName = "{{ user_name | escapejs }}"; //user_name으로 전달 받은 유저이름을 userName에 저장

        let chatSocket = new WebSocket(
            `ws://${window.location.host}/ws/chat/${roomName}/`
        );

    
        chatSocket.onopen = () => { //웹 소켓 생성 완료시 실
            chatSocket.send(JSON.stringify({
                'send_type': 'enter',
                'user_name': userName,
                'room_name' : roomName,
            }));
        };

        chatSocket.onmessage = (e) => {
            let data = JSON.parse(e.data);
            console.log(data);

            let today = new Date();
            let hours = today.getHours(); // 시
            let minutes = today.getMinutes();  // 분
            let seconds = today.getSeconds();  // 초
            let presentTime = (hours + ':' + minutes + ':' + seconds);


            //메세지 수신
            if(data['send_type'] == 'message'){
                let message = data['message'];
                //document.write('#chat-log').value;
                //#실패 로그를 남길때 각자 자기 이름을 남김(남이 보낸 문자에 자기 이름 남김), 통신이 되기는 함
                //document.querySelector("#chat-log").value += (userName + '\n');
                //성공함 왜?, 왜 됐는지는 모르겠음;;, chatSocket.onmessage이 웹소캣에 메시지가 들어왔을때
                //이벤트 발생이기때문에 메시지가 들어왔을때의 데이터(밑의 형식의 데이터)를 이용해야 하는듯?
                document.querySelector("#chat-log").value += (data['user_name'] + '\n'); //유저 출력 성고
                document.querySelector("#chat-log").value += (message + '\t'); //메시지 내용 출력 성공
                //document.querySelector("#chat-log").value += (presentTime + '\n'); //굳이 쓸필요 없음?
                document.querySelector("#chat-log").value += (presentTime + '\n');// 현재 시간 출력
            }


            //주사위 값 수신
            else if(data['send_type'] == 'dice_roll'){
                let dice_value = data['type'];
                let roll_cnt = data['roll_cnt'];
                for(let i=0; i<5; i++){
                    document.getElementById('d'+String(i)).innerHTML = dice_value[i];
                }
                document.getElementById('test-submit').innerHTML = 'Re Roll (' + roll_cnt + '/ 3)';
            }

            //점수 수신
            else if(data['send_type'] == 'score_table'){
                let dice_value = data['type'];
                let user_number = data['user_number'];
                dice_clear();
                for(let i=0; i<15; i++){
                    document.getElementById('p'+String(user_number)+String(i)).innerHTML = dice_value[i];
                }
            }

        };

        chatSocket.onclose = (e) => {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector("#chat-message-input").focus();
        document.querySelector("#chat-message-input").addEventListener("keyup",(e) => {
            if (e.keyCode === 13) {
                document.querySelector("#chat-message-submit").click();
            }
        });

        document.querySelector("#chat-message-submit").addEventListener("click", (e) => {
            let messageInputDom = document.querySelector("#chat-message-input");
            let message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'send_type': 'message',
                'user_name': userName,
                'message' : message,
                //'present_time': presentTime
            }));

            messageInputDom.value = '';
        });
        </script>
    <script src="/static/JS/game_player.js" type="text/javascript"> </script>
    {% endblock %}
