{% extends 'base.html' %}
{% block content %}
    
    <button type="button" class="btn btn-primary">게임시작</button>
    <button type="button" class="btn btn-primary">준비</button>
    <button type="submit" class="btn btn-primary">나가기</button><br><!--나가기 버튼이 눌리면 메인화면으로 연결
    웹소켓연결은 페이지를 나갈시 자동으로 연결이 끊김?-->
    <form action="{% url 'chat:waiting_room' room_name %}" method="post" name="나가기">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" id="room_exit">나가기</button>
    </form>

    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <input id="chat-message-input" type="text" class="form-control" size="100"><br />
    <input id="chat-message-submit" type="button" value="Send"/><br />
    <div class="beforeunload"></div>

  

    <script type="text/javascript">
        let roomName = "{{ room_name | escapejs }}"; //room_name으로 전달 받은 방번호를 roomName에 저장
        let userName = "{{ user_name | escapejs }}"; //user_name으로 전달 받은 유저이름을 userName에 저장

        //document.querySelector('#room_exit').click();
        //window.addEventListener('unload',e=>{document.querySelector('#room_exit').click();} );
        //window.onbeforeunload = (e) => {alert('asdf');};
        window.onbeforeunload = function() {
            fetch('{% url chat:waiting_room roomName %}', {
                method: 'POST',
                body: new URLSearchParams({agent: 'agent-info', logdata: 'data'}),
                keepalive: true
            });
        };

        
        
        //let today = new Date();   

        //let hours = today.getHours(); // 시
        //let minutes = today.getMinutes();  // 분
        //let seconds = today.getSeconds();  // 초
        //위의 방법도 이벤트 발생시 값이 바뀌지 않음, 이벤트 발생시 마다 값이 바뀌려면 밑의 함수 안으로 넣어야 할듯?

        let chatSocket = new WebSocket(
            `ws://${window.location.host}/ws/chat/waiting_room/${roomName}/`
        );

        chatSocket.onopen = () => { //웹 소켓 생성 완료시 실
            chatSocket.send(JSON.stringify({
                'send_type': 'enter',
                'user_name': userName,
                'room_name' : roomName,
            }));
        };

        chatSocket.onmessage = (e) => {
            let data = JSON.parse(e.data);
            console.log(data);

            //이벤트 발생시 현재시간 입력, 서버로 넘길수가 없음
            let today = new Date();
            let hours = today.getHours(); // 시
            let minutes = today.getMinutes();  // 분
            let seconds = today.getSeconds();  // 초
            let presentTime = (hours + ':' + minutes + ':' + seconds);

            //메세지 수신
            if(data['send_type'] == 'message'){
                let message = data['message'];
                //document.write('#chat-log').value;
                //#실패 로그를 남길때 각자 자기 이름을 남김(남이 보낸 문자에 자기 이름 남김), 통신이 되기는 함
                //document.querySelector("#chat-log").value += (userName + '\n');
                //성공함 왜?, 왜 됐는지는 모르겠음;;, chatSocket.onmessage이 웹소캣에 메시지가 들어왔을때
                //이벤트 발생이기때문에 메시지가 들어왔을때의 데이터(밑의 형식의 데이터)를 이용해야 하는듯?
                document.querySelector("#chat-log").value += (data['user_name'] + '\n'); //유저 출력 성고
                document.querySelector("#chat-log").value += (message + '\t'); //메시지 내용 출력 성공
                //document.querySelector("#chat-log").value += (presentTime + '\n'); //굳이 쓸필요 없음?
                document.querySelector("#chat-log").value += (presentTime + '\n');// 현재 시간 출력
            }
        };

        chatSocket.onclose = (e) => {
            document.querySelector('#room_exit').click();
            //console.error('Chat socket closed unexpectedly');

            
        };

        document.querySelector("#chat-message-input").focus();
        document.querySelector("#chat-message-input").addEventListener("keyup",(e) => {
            if (e.keyCode === 13) {
                document.querySelector("#chat-message-submit").click();
            }
        });

        document.querySelector("#chat-message-submit").addEventListener("click", (e) => {
            let messageInputDom = document.querySelector("#chat-message-input");
            let message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'send_type': 'message',
                'user_name': userName,
                'message' : message,
            }));

            messageInputDom.value = '';
        });

        /*
        window.addEventListener('beforeunload', (e)=>{
            alert('hi');

            var form = document.createElement("form");
            form.setAttribute("charset", "UTF-8");
            form.setAttribute("method", "post");  //Post 방식
            form.setAttribute("action", "."); //요청 보낼 주소

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "user_name");
            hiddenField.setAttribute("value", userName);
            form.appendChild(hiddenField);

            hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "room_name");
            hiddenField.setAttribute("value", roomName);
            form.appendChild(hiddenField);

            document.body.appendChild(form);

            form.submit();
            //document.querySelector("#room_exit").click();
        });*/
        
    </script>
    {% endblock %}
