
.container {
  display: flex;
  flex-direction: column;
  align-items:center;

}

.container-fluid{
    display: flex;
  min-width: 500px;
  align-items:center;
  padding-left: 10px; 
  padding-right: 10px;
}

.chat-message-input {
  width: 25%;
}

.no-drag{
  -ms-user-select:none;
  -moz-user-select:-mozs-none;
  -webkit-user-selcet:none;
  -khtml-user-select:none;
  user-select:none;
  font-family: '함초롬돋움';
}

.sub_div{
  right: 0;
  position: absolute;
  z-index:3;
}

#main_div{
  width:95%;
}

.dicetable{
  width:550px;
  text-align:center;
  min-width: 550px;
}
.gametable{
  /*
  min-width: 800px;
  max-width: 850px;
  */
}

#d1, #d2, #d3, #d4, #d0{
  height:80px;
  width:74px;
  font-size:30px;
  border-radius:25px;
  border:2px solid;
}

#test-submit{
  border:2px solid;
}