{% extends 'base.html' %}
{% load rank_filter %}
{% block content %}
    <div class="row my-3">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}" placeholder="유저 검색" >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="thead-dark">
                <th>랭킹</th>
                <th>유저</th>
                <th><a href="{% url 'rank:total_game' %}">
                    총 게임
                </a></th>
                <th><a href="{% url 'rank:win_game' %}">
                    이긴 게임
                </a></th>
                <th><a href="{% url 'rank:win_rate' %}">
                    승률
                </a></th>
                <th><a href="{% url 'rank:top_score' %}">
                    최고점수
                </a></th>
                <th><a href="{% url 'rank:rating' %}">
                    랭킹점수
                </a></th>
            </tr>   
            </thead>
            <tbody>
            {% if user_rank_list %}
            {% for user_rank in user_rank_list %}
            <tr>
                <!--등수 공식-->
                <td> {{ user_rank_list.number|sub:1|mul:20|add:forloop.counter }}</td>
                <td><a href="{% url 'rank:user_status' user_rank.user %}">
                    {{ user_rank.user }}
                </a></td>
                <td>
                    {{ user_rank.total_game }}
                </td>
                <td>
                    {{ user_rank.win_game }}
                </td>
                <td>
                    {{ user_rank.win_game|win_rate:user_rank.total_game }}%
                </td>
                <td>
                    {{ user_rank.top_score }}점
                </td>
                <td>
                    {{ user_rank.rating }}점
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">유저가 존재하지 않습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            {% if user_rank_list.has_previous %}
            <li class="page-item">
                <a href="?page={{ user_rank_list.previous_page_number }}" class="page-link">
                    이전
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true">
                    이전
                </a>
            </li>
            {% endif %}
            <!-- 페이지 리스트 -->
            {% for page_number in user_rank_list.paginator.page_range %}
            {% if page_number >= user_rank_list.number|add:-5 and page_number <= user_rank_list.number|add:5 %}
                {% if page_number == user_rank_list.number %}
                <li class="page-item active" aria-current="page">
                    <a href="?page={{ page_number }}" class="page-link">
                        {{ page_number }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{ page_number }}" class="page-link">
                        {{ page_number }}
                    </a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if user_rank_list.has_next %}
            <li class="page-item">
                <a href="?page={{ gmae_room_list.next_page_number}}" class="page-link">
                    다음
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true">
                    다음
                </a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징 처리 끝 -->
        <a href="{% url 'chat:make_room' %}" class="btn btn-primary">
            방 생성
        </a>
    </div>
    <form id="searchForm" method="get" action="{% url 'rank:index' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
    </form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
    document.querySelector('#search_kw').focus();
    document.querySelector('#search_kw').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#btn_search').click();
        }
    };
</script>
{% endblock %}