{% extends 'base.html' %}
{% load rank_filter %}
{% block content %}
    <div>
    
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="thead-dark">
                <th>랭킹</th>
                <th>유저</th>
                <th><a href="{% url 'rank:total_game' %}">
                    총 게임
                </a></th>
                <th><a href="{% url 'rank:win_game' %}">
                    이긴 게임
                </a></th>
                <th><a href="{% url 'rank:win_rate' %}">
                    승률
                </a></th>
            </tr>   
            </thead>
            <tbody>
            {% if user_rank_list %}
            {% for user_rank in user_rank_list %}
            <tr>
                <!--차후 등수 공식 만들어 확인하기-->
                <td> {{ forloop.counter }}</td>
                <!--<td>{{ user_rank_list.paginator.count|sub:user_rank_list.start_index|sub:forloop.counter0|add:1 }}</td>-->
                <td>
                    {{ user_rank.user }}
                </td>
                <td>
                    {{ user_rank.total_game }}
                </td>
                <td>
                    {{ user_rank.win_game }}
                </td>
                <td>
                    {{ user_rank.win_game|win_rate:user_rank.total_game }}%
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">유저가 존재하지 않습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            {% if user_rank_list.has_previous %}
            <li class="page-item">
                <a href="?page={{ user_rank_list.previous_page_number }}" class="page-link">
                    이전
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true">
                    이전
                </a>
            </li>
            {% endif %}
            <!-- 페이지 리스트 -->
            {% for page_number in user_rank_list.paginator.page_range %}
            {% if page_number >= user_rank_list.number|add:-5 and page_number <= user_rank_list.number|add:5 %}
                {% if page_number == user_rank_list.number %}
                <li class="page-item active" aria-current="page">
                    <a href="?page={{ page_number }}" class="page-link">
                        {{ page_number }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{ page_number }}" class="page-link">
                        {{ page_number }}
                    </a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if user_rank_list.has_next %}
            <li class="page-item">
                <a href="?page={{ gmae_room_list.next_page_number}}" class="page-link">
                    다음
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true">
                    다음
                </a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징 처리 끝 -->
        <a href="{% url 'chat:make_room' %}" class="btn btn-primary">
            방 생성
        </a>
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock %}
